{% load static %}
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'index'%}">
                        <i class="navbar-brand-icon bi-book me-2"></i>
                        <span>ebook</span>
                    </a>

                    <div class="d-lg-none ms-auto me-3">
                        <a href="{% url 'register'%}" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                            <i class="btn-icon bi-cloud-download"></i>
                            <span>Sing Up</span><!-- duplicated another one below for mobile -->
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto me-lg-4">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'index'%}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">The Book</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Author</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">Reviews</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>
                        </ul>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'cikis'%}" class="btn btn-dark">Çıkış</a>
                        {% else %}
                        <div class="d-none d-lg-block">
                            <a href="{% url 'register'%}" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                                <i class="btn-icon bi bi-box-arrow-in-right"></i>
                                <span>Sing Up</span><!-- duplicated above one for mobile -->
                            </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </nav>
